.header-container
  width 100%
  height 60px
  background #5b9de8
  margin-left auto
  margin-right auto
  font-size 18px
  &__logo
    margin-left 20px
    text-decoration none
    font-size 20px
    color #ffffff
  &__text
    margin-left 20px
    display inline-block
    color #d0e2f6
    text-transform uppercase
    text-align center
    white-space nowrap
    vertical-align middle
