.event-card-container
  width 350px
  height 280px
  margin-left auto
  margin-right auto
  margin-top 15px
  text-align center
  position relative
  display flex
  background-repeat no-repeat
  background-size cover
  align-items flex-end
  background-color rgba(0, 0 ,0 , 0.8)
  flex-direction column
  &__link
    text-decoration none
    font-size 20px
    font-weight 800
    color #ffffff
    margin-left auto
    margin-right auto
  &__time
    font-size 17px
    font-weight 300
    color #ffffff
    margin-left auto
    margin-right auto
    // padding-bottom 35px
