.top-banner-container
  width 100%
  height 185px
  background green
  margin-left auto
  margin-right auto
  background-repeat no-repeat
  background-size cover

.Moscow
  background-image url('http://i.imgur.com/HCIlxj3.jpg')
.Saint.Petersburg
  background-image url('http://i.imgur.com/xEy6gVz.jpg')
.Tomsk
  background-image url('http://i.imgur.com/7iBbT1l.jpg')
