body
  background-color #f1f2f3
.home-container
  display flex
  width 100%
  margin-left auto
  margin-right auto
  flex-direction column
  &__filter-toolpot
    margin-top 30px
    margin-bottom 10px
